# Dependencies
node_modules
.pnp
.pnp.js
.cursor
# Testing
coverage
*.log

# Production
dist
build
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# pnpm
.pnpm-store

# Temporary files
*.tmp
.cache


*storybook.log
storybook-static
